*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #FFF;
}
.wrapper{
    overflow-x: hidden;
}
.container{
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
a, img, button, input, select, textarea{
    transition: .3s ease all;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.raydium-btn{
    box-sizing: border-box;
    border: 2px solid rgb(198, 246, 86);
    border-radius: 100px;
    width: 287px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgb(198, 246, 86);
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
.raydium-btn:hover{
    border: 2px solid rgb(57, 99, 51);
    background: rgb(173, 255, 2);
    color: rgb(57, 99, 51);
}
.buy-btn{
    width: 299px;
    height: 84px;
    box-sizing: border-box;
    border: 2px solid rgb(14, 33, 7);
    background: rgb(255, 255, 255);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
.buy-btn:hover{
    color: #FFF;
    background: rgb(14, 33, 7);;
}


/* Header start */
.header{
    background: rgb(14, 33, 7);
    padding: 30px 0 270px;
}
.header .header-content{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
.header-content .header-navs,
.header-content .header-nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-content .header-nav-link{
    color: rgb(198, 246, 86);
    font-family: 'SF UI Display', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.header-content .header-nav-link:hover{
    color: #FFF;
}
.header-content .header-socicial{
    display: flex;
    align-items: center;
    gap: 12px;
}
/* Header end */

/* Header scroll */
.header-scroll{
    position: fixed;
    top: -10px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(14, 33, 7);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    transition: .3s ease all;
}
.header-scroll.active{
    top: 0;
    opacity: 1;
    pointer-events: all;
}
.header-scroll .header__scroll-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-scroll .header__scroll-navs{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-scroll .header__scroll-nav{
    position: relative;
    color: rgb(14, 33, 7);
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    overflow: hidden;
}
.header-scroll .header__scroll-nav::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: -150%;
    width: 100%;
    height: 2px;
    background-color: rgb(14, 33, 7);
    transition: .3s ease all;
}
.header-scroll .header__scroll-nav:hover::after{
    left: 0;
}
.header-scroll .header__scroll-socicial{
    display: flex;
    align-items: center;
    gap: 12px;
}
/* Header scroll */


/* Play music */
.play-music{
    position: fixed;
    z-index: 10;
    bottom: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 51px;
    border-radius: 100%;
    border: 2px solid rgb(57, 99, 51);
}
.play-music .play{
    padding-left: 3px;
}
.play-music .pause{
    width: 100%;
    border-radius: 100%;
    mix-blend-mode: color-burn;
}
/* Play music */

/* Home start */
.home{
    position: relative;
    margin-top: -420px;
    background-image: url(../images/home-bg-r.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
}
.home .home-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.home-content .home-title{
    position: relative;
    background-image: url(../images/home-title-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0;
    width: 1190px;
    margin: 60px 0px 0px 75px;
}
.home-content .home-bob-img{
    position: absolute;
    top: -22px;
    left: 80px;
}
.home-content .home-title h2{
    color: rgb(57, 99, 51);
    font-style: italic;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    transform: rotate(-6.00deg);
}
.home-content .home-title h1{
    color: rgb(57, 99, 51);
    font-family: 'Gilroy', sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-6.00deg);
}
.home-content .home-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.home-info .home-info-title{
    display: flex;
    align-items: center;
    gap: 16px;
}
.home-info .home-info-title h4{
    color: rgb(57, 99, 51);
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
}
.home-info .home-info-links{
    display: flex;
    align-items: center;
    gap: 16px;
}

.home .home-bobs{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.home .home-bobs .home-bobs-img{
    object-fit: contain;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
/* Home end */

/* Partners start */
.partners{
    padding: 68px 0 110px;
}
.partners .partners-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.partners-content .partners-title{
    color: rgb(57, 99, 51);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    padding-left: 95px;
}
.partners-content .partners-logo{
    display: flex;
    align-items: center;
    gap: 12px;
}
.partners-content .partners-logo-link{
    border-radius: 30px;
    background: rgb(14, 33, 7);
    width: 100%;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
/* Partners end */

/* Deal start */
.deal{
    position: relative;
    padding-bottom: 30px;
}
.deal .container{
    padding: 0;
}
.deal .deal-content{
    display: flex;
    gap: 63px;
}
.deal .deal-bob{
    width: 575px;
    object-fit: contain;
}
.deal .deal-title{
    max-width: 411px;
    margin-left: 145px;
    color: rgb(57, 99, 51);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
}
.deal-content .deal-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-image: url(../images/deal-info-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 170px 30px 30px 120px;
}
.deal-content .deal-text{
    max-width: 526px;
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    line-height: 29px;
}
.deal-content .deal-text span{
    color: rgb(198, 246, 86);
}


.marquee-wrap{
    padding: 15px 0;
    display: flex;
    align-items: center;
    gap: 80px;
    background: rgb(198, 246, 86);
}
.marquee-wrap span {
    color: rgb(14, 33, 7);
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    animation: marquee 5s linear infinite;
}
/* Deal end */

/* Token start */
.token{
    padding: 30px 0;
    background: rgb(14, 33, 7);
}
.token .token-content{
    display: flex;
    align-items: start;
    gap: 62px;
    padding: 60px 60px 60px 95px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
}
.token-content .token-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.token-info .token-title{
    color: rgb(14, 33, 7);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
}
.token-info .token-text{
    max-width: 380px;
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
.token-info .token-img{
    margin-left: -103px;
}
.token-content .token-block{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.token-block .token-block-top{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.token-block .token-block-title{
    position: relative;
    margin-left: -100px;
}
.token-block .token-block-title h2{
    width: 340px;
    color: rgb(14, 33, 7);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    transform: rotate(-8.00deg);
    text-shadow: #c6f656 -2.3px 3px;
}
.token-block .token-items{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 502px;
}
.token-block .token-item{
    width: 245px;
    padding: 30px;
    text-align: center;
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 16px;
    background: rgb(198, 246, 86);
    cursor: pointer;
}
.token-block .token-item:hover{
    transform: translate(10px, 0px);
    box-shadow: -11px 11px 0px rgb(14, 33, 7);
}
.token-block .token-item:nth-child(3){
    width: 266px;
}
.token-block .token-item:nth-child(4){
    width: 223px;
}
.token-block .token-address{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.token-address .token-address-inp{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.token-address .token-address-inp label{
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
.token-address .token-address-inp input{
    width: 100%;
    height: 78px;
    padding: 20px;
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    box-sizing: border-box;
    border: 5px solid rgba(198, 246, 86, 1);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    outline: none;
}
.token-address .token-address-btn{
    width: 206px;
    height: 56px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid rgb(14, 33, 7);
    border-radius: 100px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
.token-address .token-address-btn:hover{
    color: #FFF;
    background-color: rgb(14, 33, 7);
}
/* Token end */

/* Roadmap start */
.roadmap{
    padding: 30px 0;
}
.roadmap .roadmap-content{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
    box-sizing: border-box;
    border: 10px solid rgb(198, 246, 86);
    border-radius: 30px;
    background: rgb(255, 255, 255);
    padding: 60px 95px 10px;
}
.roadmap-content .roadmap-info{
    display: flex;
    flex-direction: column;
}
.roadmap-content .roadmap-title{
    color: rgb(57, 99, 51);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
}
.roadmap-content .roadmap-img{
    display: none;
    width: 100%;
    height: 480px;
}
.roadmap-content .roadmap-img:nth-child(1){
    margin-left: -65px;
}
.roadmap-content .roadmap-img.active{
    display: block;
}

.roadmap-content .roadmap-tabs{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.roadmap-content .roadmap-tab{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px 20px;
    border-radius: 16px;
    background: rgb(14, 33, 7);
    width: 567px;
}
.roadmap-content .roadmap-tab.active{
    background-color: #C6F656;
}
.roadmap-tab.active svg path{
    stroke: #0E2107;
}
.roadmap-tab .roadmap-tab-title{
    display: flex;
    align-items: center;
    gap: 16px;
}
.roadmap-tab .roadmap-tab-title h3{
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    text-transform: uppercase;
}
.roadmap-tab .roadmap-tab-text{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: start;
}
.roadmap-tab.active .roadmap-tab-title h3,
.roadmap-tab.active .roadmap-tab-text{
    color: rgb(0, 0, 0);
}

/* Roadmap end */



/* Great start */
.great{
    padding: 235px 0px 190px;
    position: relative;
}
.great-marquee1{
    position: absolute;
    top: 250px;
    left: 0;
    z-index: 2;
    margin-left: -50px;
    transform: rotate(15.00deg);
}
.great-marquee2{
    position: absolute;
    top: 33px;
    left: -10px;
    transform: rotate(-4.00deg);
}
.great-marquee3{
    position: absolute;
    bottom: 105px;
    left: -10px;
    transform: rotate(-4.00deg);
}
.great .great-content{
    display: flex;
    align-items: center;
    gap: 24px;
}
.great-content .great-title{
    color: rgb(57, 99, 51);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    max-width: 155px;
}
.great-content .great-links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.great-content .great-links .great-link{
    width: 299px;
}
/* Great end */


/* Beanbob start */
.beanbob{
    padding-bottom: 30px;
}
.beanbob .beanbob-title{
    color: rgb(57, 99, 51);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
}
.beanbob .beanbob-items{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 12px;
    margin-top: 40px;
}
.beanbob .beanbob-item{
    width: 100%;
    height: 480px;
    padding: 37px 22px;
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 16px;
    border: 10px solid rgb(198, 246, 86);
    border-radius: 16px;
    background: rgb(198, 246, 86);
}
.beanbob .beanbob-item:nth-child(2){
    background: rgb(173, 255, 2);
    border: none;
}
.beanbob .beanbob-item:nth-child(3){
    border: 10px solid rgb(57, 99, 51);
    background-color: transparent;
}
.beanbob .beanbob-item .beanbob-item-title{
    color: rgb(57, 99, 51);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    transform: rotate(-6.00deg);
}
.beanbob .beanbob-item:nth-child(2) .beanbob-item-title,
.beanbob .beanbob-item:nth-child(3) .beanbob-item-title{
    color: rgb(14, 33, 7);
}
/* Beanbob end */


/* Faq start */
.faq{
    padding-bottom: 124px;
}
.faq .faq-content{
    padding: 50px 60px;
    border-radius: 30px;
    background: rgb(14, 33, 7);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.faq-content .faq-title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
}
.faq-content .faq-accordion{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.faq-content .faq-item{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 20px;
}
.faq-item .accordion-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .3s ease all;
}
.faq-item .accordion-header.active{
    padding-bottom: 40px;
}
.faq-item .accordion-header h3{
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
.faq-item .accordion-icon img{
    position: absolute;
    right: 0;
    top: 3px;
    transition: .3s ease all;
}
.faq-item .accordion-icon .x-close{
    opacity: 0;
}
.faq-item .accordion-icon.active .x-close{
    opacity: 1;
}
.faq-item .accordion-icon.active .plus{
    opacity: 0;
}
.faq-item .accordion-content{
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    padding-right: 25px;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
/* Faq end */

/* Follow start */
.follow{
    padding: 80px 0px 120px;
}
.follow .follow-content{
    position: relative;
}
.follow-content .follow-img{
    position: absolute;
    top: -82px;
    left: 172px;
}
.follow-content .follow-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    max-width: 578px;
    margin: 0 auto;
}
.follow-content .follow-title{
    color: rgb(14, 33, 7);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
}
.follow-content .follow-text{
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}
.follow-content .follow-socicial{
    display: flex;
    align-items: center;
    gap: 20px;
}
/* Follow end */

/* Copyright start */
.copyright{
    padding: 137px 0px 60px;
}
.copyright .copyright-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.copyright .copyright-info span{
    color: rgb(14, 33, 7);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
/* Copyright end */